.selected-players-sidepane{

    display: flex;
    flex-direction: column;
    height: 70%;
    // border: 1px solid grey;
    // border-radius: 2px;
    margin-left: 5px;

    .logo-image{
        padding: 3rem;
        font-size: 1.5rem;
        height: 10%;
    }

    .player-list{
        // flex-grow: 1;
        // max-height: 70%;
        // height: 70%;
        overflow-y: auto;
    }

    .buttons{
        // height: 5%;
        margin-top: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}